{% extends 'base.html.twig' %}

{% block title %}Ajouter / Editer une connexion{% endblock %}

{% block body %}
	<h1>Ajouter / Editer une connexion</h1>

    {{ form_start(formConnection) }}
	{{ form_widget(formConnection) }}
	{{ form_end(formConnection) }}
{% endblock %}
