{% extends 'base.html.twig' %}

{% block title %}Aide{% endblock %}

{% block body %}
	<h1>Aide</h1>
	
	<section>
		<h2>Le modèle de base</h2>

		<article>
			<h3>Les scènes</h3>
			<p></p>
		</article>


		<article>
			<h3>Les médias</h3>
			<p></p>
		</article>

		<article>
			<h3>Les connexions</h3>
			<p></p>
		</article>
	</section>
	
	<section>
		<h2>Les propriétés</h2>

	
		<article>
			<h3>Les patterns</h3>
			<p></p>
		</article>

		<article>
			<h3>Conditions</h3>
			<p></p>
		</article>

		<article>
			<h3>Actions</h3>
			<p></p>
		</article>	
	</section>
	

{% endblock %}
