{% extends 'base.html.twig' %}

{% block title %}Aide{% endblock %}

{% block body %}
	<h1>Aide</h1>
	
	<section>
		<h2>Le modèle de base</h2>

		<article>
			<h3>Les scènes</h3>
			<p></p>
		</article>


		<article>
			<h3>Les médias</h3>
			<p></p>
		</article>

		<article>
			<h3>Les connexions</h3>
			<p></p>
		</article>
	</section>
	
	<section>
		<h2>Les propriétés</h2>

	
		<article>
			<h3>Les patterns</h3>
			<p>Mot simple, liste de mots séparés par des ";". Possibilité d'utiliser un wildcard "*"</p>
			<p>Exemples : "FOUILL*;CHERCH*;OUVR*" : sera valide pour les saisies : "fouiller", "fouille", "fouill", "cherche donc", "ouvrir le tiroir", "ouvre la fenêtre"</p>
			<p>Attention, un pattern "*" valide n'importe qu'elle saisie.</p>
		</article>

		<article>
			<h3>Conditions</h3>
			<p></p>
		</article>

		<article>
			<h3>Actions</h3>
			<p></p>
		</article>	
	</section>
	

{% endblock %}
