{% extends 'base.html.twig' %}

{% block title %}{{ project.title }} / {{ scene.title }} (#{{ scene.id }}){% endblock %}

{% block bodyClass %}previewProject{% endblock %}

{% block javascripts %}
	<script>
	var jxServer = new JX.Server();
	jxServer.variables.init("test", 0);
	jxServer.variables.init("bab", 0);
	
	var handleScene = function(jsonData){
		console.log(jsonData);
		
		var titleElement = document.getElementById("mainTitle");
		var mediaElement = document.getElementById("medias");
		var connectionElement = document.getElementById("connections");
		
		//reset
		titleElement.innerHTML = "";
		mediaElement.innerHTML = "";
		connectionElement.innerHTML = "";

		titleElement.innerHTML = "Scène : " + jsonData.title + "(" + jsonData.project.title + ")";
		
		jsonData.medias.forEach(function(item){
			mediaElement.innerHTML += "<p>"+ item.content +"</p>";
		});

		jsonData.connections.forEach(function(item){
			if (! item.label) {
				return;
			}
			
			var newConnectionElement = document.createElement("li");
			newConnectionElement.innerHTML = item.label;

			newConnectionElement.addEventListener("click", function(){
				jxServer.requestScene(item.childSceneId, handleScene);
			});

			connectionElement.appendChild(newConnectionElement);
		});

	}

	var sceneId=1;

	var pattern = new RegExp(/project\/preview\/([0-9]+)/); //cherche le "nombre" apres "project/preview/" dans l'URL.
	var extracted = pattern.exec(window.location.href);
	console.log(extracted);
	
	if (extracted[1]) {
		sceneId = extracted[1];
	}

	jxServer.requestScene(sceneId, handleScene);

	</script>
{% endblock %}

{% block body %}

	<h1 id="mainTitle"></h1>
	<div id="medias">
		
	</div>

	<ul id="connections">
		
	</ul>

	<p>
		<a href="{{ path("apiGetScene", {'sceneId': scene.id}) }}">(Voir le JSON)</a>
	</p>


{% endblock %}
