{% extends 'base.html.twig' %}

{% block title %}Choix du projet
{% endblock %}


{% block body %}
    <h1>Choix du projet : </h1>
    <ul>
    	
	{% for project in projects %}
        <li><a href="{{ path("homepage", { "projectId" : project.id }) }}">{{ project.title }}</a></li>
    {% endfor %}

    </ul>

 
{% endblock %}
