{% extends 'base.html.twig' %}

{% block title %}Ajouter / Editer une scène{% endblock %}

{% block body %}
	<h1>Ajouter / Editer une scène</h1>

    {{ form_start(formScene) }}
	{{ form_widget(formScene) }}
	{{ form_end(formScene) }}
{% endblock %}
