{% extends 'base.html.twig' %}

{% block title %}Super
{% endblock %}


{% block body %}
    Hello {{ number }}
    <a href="{{ path("homepage") }}">Retour</a>.

    <img src="{{ asset('images/logo.png') }}" alt="Symfony!" />
{% endblock %}
