body {
	background-color: #dddddd;
}

#page {
	margin: 0 auto;
	padding: 0.5em 1em;
	background-color: white;
	width: 80%;
	min-width: 500px;
	max-width: 1000px;
}

.flash-notice {
	color: green;
}

.flash-warning {
	color: orange;
}

.mainMenu {

}

#form div {
	padding: 0.2em;
}

#form div label {
	padding: 0.5em;
	display: block;
}

#form div button {
	margin-top: 1em;
	font-size: 1.2em;
}


.preview h1, .preview h2 {
	font-size: 1.2em;
}

.preview  li{
	list-style: none;
	font-size: 2.3em;
	padding: 0.5em;
	margin: 0.1em;
	background-color: #dddddd;
}

.preview .medias li{
	background-color: #aaaaaa;
}

.preview .patterns li{
	font-size: .8em;
}

.preview input {
	font-size: 1em;
	padding: 0.5em;
	
}

.preview  a {
	text-decoration: none;
	color: #333333;
}

.preview a:hover {
	text-decoration: underline;
	
}


.list {
	border-collapse: collapse;
}

.list td, .list th {
	padding: 0.5em;
	border: 1px solid #cccccc;
}

.list th {
	background: #cccccc;
	color: black;
}

.list ul,.list li {
	padding-left: 0.5em;
	
}

.list .actions {
	font-size: 0.8em;
}

.list .title {
	font-weight: bold;
	display: block;
}